* {
    box-sizing: border-box;
}

body{
    margin-top:20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff
}

div{
	display: block;
}

.gray{
	margin-top: 2px;
	font-size: 13px;
	color: #d6d5d5;
}

.red{
	background-color: #ff5722;
	border-radius: 5px;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 15px;
    padding-right: 15px;
	margin-bottom: 10px;
}

.green{
	background-color: #5bbd2a;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 15px;
    padding-right: 15px;
}

.yellow{
	background-color: #f0d001;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 15px;
    padding-right: 15px;
}

.search{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;  
    touch-action: manipulation;
    cursor: pointer;   
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.availability{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.reset{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.classTr{
	background-color: #f7f7f7;
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.wholeTable{
	min-height: .01%;
    overflow-x: auto;
}

.table{
	border: 1px solid #ddd;
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
	text-align: center;
	background-color: transparent;
	border-spacing: 0;
    border-collapse: collapse;
	display: table;
	text-indent: initial;
}

.table>thead>tr>th {
    border-bottom-width: 2px;
}

.classTh{
	text-transform: uppercase;
}

.classTd{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

th{
	text-align: left;
	display: table-cell;
	font-weight: bold;
}

tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}



tr:hover {
    background-color: #C4C3D0;
}